**/target
**/*.iml

bin/kafka/volume/connectors/*
bin/kafka/volume/broker/broker-1/
bin/kafka/volume/broker/broker-2/
bin/kafka/volume/broker/shared/
bin/kafka/volume/zookeeper/zookeeper-1
bin/kafka/volume/zookeeper/zookeeper-2
bin/kafka/volume/avro/*.avro
bin/kafka/volume/ui-manager/*
bin/kafka/volume/ksql-server/*
bin/kafka/volume/schema-registry/*
bin/kafka/volume/connect/connect-1/
bin/kafka/volume/connect/connect-2/

**/.terraform
**/*.hcl
**/*.tfstate
**/*.tfstate.backup
**/*.lock.info

**/dependency-reduced-pom.xml